.Card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 350px;
    height: auto;
    display: inline-block;
}
.Card .card-image{
    max-width: 60%;
    height: auto;
    border-radius:5%;
    margin-bottom: 10px;
}
.Card .card-title{
    font-size: larger;
    font-weight:bold;
    font-family: Arial, sans-serif;
    margin: 0;
    color: black;
    text-align: left;
}
.Card .card-text{
    font-family: Arial, sans-serif;
    color: black;
    text-align: left;
}
.btn{
    background-color: #3A405A;
    border-color:#3A405A;
}
#CardThumbnail {
    object-fit: cover;
    width: 182px;
    height: 182px;
}
