.Card{
    border: 1px solid rgb(67, 67, 67);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 30%;
    height: auto;
    display: inline-block;
}
.Card .card-image{
    max-width: 60%;
    height: auto;
    border-radius:50%;
    margin-bottom: 10px;
}
.Card .card-title{
    font-size: larger;
    font-weight:bold;
    font-family: Arial, sans-serif;
    margin: 0;
    color: black;
}
.Card .card-text{
    font-family: Arial, sans-serif;
    color: black;
}
.btn-group{
    background-color: red;
    border-color: red;
} 
/* #3A405A */