.instances-header{
    font-size: medium;
    font-weight:bold;
    font-family: Arial, sans-serif;
    padding-bottom: 5px;
    color: #3A405A;
    text-align: center;
}

.instances-header-2{
    font-size: small;
    font-weight:bold;
    font-family: Arial, sans-serif;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #3A405A;
    text-align: center;
}

.instances-summary{
    font-size: medium;
    font-weight:bold;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #3A405A;
    text-align: center;
}