.toggle-container {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
}

.toggle {
    visibility: hidden;
}

.toggle + label {
    display: flex;
    align-items: center;
    font-family: 1.5em;
    cursor: pointer;
    color: #3A405A;
    transition: color 250ms ease-in-out;
}

.toggle:checked + label {
    color: rgba(255, 255, 255, 0.5);
}

.toggle + label::before {
    content: "";
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background-color: black;
    margin-right:0.5em;
    transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    background-color: white;
    position: relative;
    right: 7.2em;
    transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
    transform: translateX(100%);
}