:root {
    --jumbotron-padding-y: 3rem;
}
.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-image: url(./../assets/splashImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
@media (min-width: 768px) {
.jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
}
}
.jumbotron p:last-child {
    margin-bottom: 0;
}
.jumbotron-heading {
    font-weight: 300;
    color:white;
}
.jumbotron .container {
    max-width: 60rem;
    color:white;
}
.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}
.description-text {
    color:white;
}
.btn{
    color: white;
}
.album{
    background-color: #99B2DD;
    transition: background-color 250ms ease-in-out;
}
.album-dark{
    background-color: #3A405A;
    transition: background-color 250ms ease-in-out;
}
.card-body{
    background-color:white;
}