.navbar-nav .nav-item .nav-link:hover{
  color: black;
  background-color: #f0f0f0;
}

.graticule {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5px;
}

.cursor {
  cursor: url(./assets/bluebonnetCursor.png) 16 0, auto;
}

a, button{
  cursor: url(./assets/bluebonnetCursor.png), auto;
 }